.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.2)
    ),
    url("https://images.unsplash.com/photo-1557672172-298e090bd0f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  background-position: center;
}

:root {
  --highlight-color: purple;
}

form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: var(--highlight-color);
  margin: 20px 0;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: var(--highlight-color);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
